
            .header {
                color: blue;
                transition: 0.5s;
            }

            .header:hover {
                color: cyan;
                font-size: 50px;
            }
        