* {
    margin: 0;
    padding: 0;

    background-color: rgb(40, 40, 40);
	
	font-family: 'Noto Sans', sans-serif;
}

.header {
    color: white;
    padding: 10px;
}

.content {
    color: white;
}

.content h2 {
    padding: 10px;
}

.content p {
    padding: 15px;
}

.btn {
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
	
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    font-size: 25px;
    background-color: rgb(17, 64, 128, 30);
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(17, 128, 255);
    padding: 12px 50px;
    font-size: 30px;
	border-radius: 20px;
}